container_commands:
  01initproject:
    command: "npm install && npm run build"
  disable_remi:
    command: "yum-config-manager --disable 'remi-php*'"
  remove_php:
    command: "yum remove php -y"
  install_epel:
    command: "amazon-linux-extras install epel"
  enable_php_81:
    command: "amazon-linux-extras enable php8.1"
  yum_update:
    command: "yum -y update"
  install_php:
    command: "yum install -y php-{cli,fpm,pear,cgi,pdo,common,curl,mbstring,gd,mysqlnd,gettext,bcmath,json,xml,fpm,intl,zip}"
  start_php-fpm:
    command: "systemctl start php-fpm"
